.Image_wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    height: 100vh;

    .upload-area {
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 70%;
        background-color: #F1F1F1;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;



        .upload-icon {
            width: 80px;
            margin-bottom: 10px;
        }

        .default-icon {
            width: 80px;
            /* 기본 아이콘 크기 */
            // height: 100px;
        }

        .uploaded-icon {
            min-width: 200px;
            width: 60%;
            /* 업로드된 이미지 크기 */
            object-fit: cover;
            /* 이미지 비율 유지 */
        }

        p {
            color: #737373;
            font-size: 16px;
        }

        .file-name {
            color: #0066cc;
            font-size: 16px;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .upload-button {
        background-color: #FA945D;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 30px;
        transition: background-color 0.3s;
        width: 85%;
        height: 5%;

        &:hover {
            background-color: #e17a48;
        }
    }

    .loading-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #fff;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 10px solid rgba(0, 0, 0, 0.1);
        border-top: 10px solid #FA945D;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-bottom: 10px;
    }

    /* 회전 애니메이션 키프레임 */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}