.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

.modal_content {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #7B7B7B;
    color: #CE4949;
    width: 150px;
    height: 10px; 
    display: flex;
    justify-content: center;
    align-items: center; /* Center text vertically */
    text-align: center;
}
