.FalseStatus {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.header {
    width: 100%;
    border-bottom: 1px solid #C8C8C8;
    color: #737373;
    padding-bottom: 20px;
}

.title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.page_section {
    font-size: 15px;
    text-align: center;
}

.page_btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left_btn, .right_btn {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.left_btn {
    margin-right: 100px;
}

.right_btn {
    margin-left: 100px;
}

.scroll_section {
    overflow-y: auto; /* 수직 스크롤 활성화 */
    max-height: 70vh; /* 스크롤 가능한 최대 높이 지정 */
    padding: 16px; /* 내부 여백 */
    box-sizing: border-box; /* 패딩을 포함한 박스 크기 */
    scrollbar-width: none;
}
