body {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  display: flex;
}

@media (min-width: 650px) {
  .App {
      width: 470px;
  }
}

@media (max-width: 650px) {
  .App {
      width: 80vw;
  }
}

#root {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  max-height: 100vh;
 
}